= simple_form_for(@sales_upload) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :file, as: :file

  .form-actions
    = f.button :submit, "Enviar"
    = link_to 'Voltar', sales_uploads_path, class:'btn'