.row
  p#notice= notice
  h1 Arquivos Enviados
  .table-responsive
    table.table.table-striped
      thead
        tr
          th Data
          th Nome
          th Descrição
          th Status
          th Total
          th
          th

      tbody
        - @sales_uploads.each do |sales_upload|
          tr
            td = sales_upload.formatted_datetime
            td = sales_upload.name
            td = sales_upload.description
            td = sales_upload.formatted_status
            td = sales_upload.formatted_total
            td = link_to 'Show', sales_upload
            td = link_to('download erros', error_file_sales_upload_path(sales_upload)) if sales_upload.processed_with_errors?

  br
  = link_to 'Subir Novo Arquivo', new_sales_upload_path, class:'btn btn-primary'
