.row
  p#notice= notice
  h1 Detalhes de Arquivo
  hr
  ul
    li
      strong Data:&nbsp;
      = @sales_upload.formatted_datetime
    li
      strong Nome:&nbsp;
      = @sales_upload.name
    li
      strong Descrição:&nbsp;
      = @sales_upload.description
    li
      strong Status:&nbsp;
      = @sales_upload.formatted_status

  .table-responsive
    table.table.table-striped
      thead
        tr
          th Consumidor
          th Descrição
          th Preço Unitário
          th Quantidade
          th Endereço
          th Fornecedor
          th Total
      tbody
        -@sales_upload.decorated_sales.each do |sale|
          tr
            td= sale.customer
            td= sale.description
            td= sale.price
            td= sale.quantity
            td= sale.address
            td= sale.supplier
            td= sale.formatted_total
      tfooter
        tr
          th colspan=6 Total
          th= @sales_upload.formatted_total
    = link_to 'Voltar', sales_uploads_path, class:'btn'
