doctype html
html lang="en"
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" /
    meta name="robots" content="all,index,nofollow"
    title Nexaas Challenge
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  body
    nav.navbar.navbar-inverse.bg-primary.navbar-toggleable-md
      button.navbar-toggler.navbar-toggler-right aria-controls="adminNavbar" aria-expanded="false" aria-label=("Toggle navigation") data-target="#adminNavbar" data-toggle="collapse" type="button"
        span.navbar-toggler-icon
      a.navbar-brand href='/' Nexaas Challenge

    .container
      br
      - flash.each do |key, value|
        .alert.alert-dismissible.fade.show role='alert' class="#{key == 'alert' ? 'alert-danger' : 'alert-success'}"
          button.close aria-label="close" data-dismiss="alert" data-close="" type="button"
            span aria-hidden="true" &times;
          h5= value
      = yield
